n8n/TrustRAG_Upload.json
{"updatedAt":"2026-02-28T09:27:07.881Z","createdAt":"2026-02-28T09:27:07.881Z","id":"ZrdgEqchaCSoycyP","name":"TrustRAG_Upload","description":null,"active":false,"isArchived":false,"nodes":[{"id":"up-webhook","name":"Upload Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"trustrag/upload","responseMode":"responseNode","options":{"allowedOrigins":"*"}}},{"id":"up-extract","name":"Extract Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { api_key: (body.api_key||'').trim(), category: body.category||'', filename: body.filename||'', filedata: body.filedata||'', filesize: body.filesize||0, mimetype: body.mimetype||'application/octet-stream' } }];"}},{"id":"up-validate","name":"Validate Auth","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"POST","url":"TRUSTRAG_SUPABASE_URL_HERE/rest/v1/rpc/get_user_permissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"p_api_key","value":"={{ $('Extract Request').first().json.api_key }}"}]},"options":{}}},{"id":"up-is-auth","name":"Is Authorized?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"c1","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"}}},{"id":"up-check-perm","name":"Check Upload Permission","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,180],"parameters":{"jsCode":"const auth = $('Validate Auth').first().json;\nconst requested = $('Extract Request').first().json.category;\nconst cats = auth.categories || [];\nconst UPLOAD_ROLES = ['super_admin','company_admin','group_admin'];\nif (!UPLOAD_ROLES.includes(auth.role)) {\n  return [{ json: { ...auth, can_proceed: false, error: 'Upload requires group_admin role or higher' } }];\n}\nconst cat = cats.find(c => c.name === requested || (c.table_name||'').includes(requested));\nif (!cat) return [{ json: { ...auth, can_proceed: false, error: 'Category not found: '+requested } }];\nif (!cat.can_upload && auth.role !== 'super_admin' && auth.role !== 'company_admin') {\n  return [{ json: { ...auth, can_proceed: false, error: 'No upload permission for this category' } }];\n}\nreturn [{ json: { ...auth, selected_category: cat, can_proceed: true } }];"}},{"id":"up-perm-ok","name":"Can Upload?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,180],"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"c2","leftValue":"={{ $json.can_proceed }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"}}},{"id":"up-to-binary","name":"Base64 to Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,120],"parameters":{"jsCode":"const req = $('Extract Request').first().json;\nconst binary = Buffer.from(req.filedata, 'base64');\nreturn [{ json: { filename: req.filename, mimetype: req.mimetype, filesize: req.filesize }, binary: { data: { data: binary.toString('base64'), mimeType: req.mimetype, fileName: req.filename } } }];"}},{"id":"up-drive","name":"Upload to Google Drive","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,120],"parameters":{"method":"POST","url":"=https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendHeaders":true,"headerParameters":{"parameters":[]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"metadata","value":"={ \"name\": \"{{ $('Extract Request').first().json.filename }}\", \"parents\": [\"TRUSTRAG_DRIVE_FOLDER_ID_HERE\"] }"},{"name":"file","value":"={{ $binary.data }}"}]},"options":{}}},{"id":"up-vector","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2000,120],"parameters":{"mode":"insert","tableName":"={{ $('Check Upload Permission').first().json.selected_category.table_name }}","queryName":"=match_documents_{{ $('Check Upload Permission').first().json.selected_category.table_name }}","options":{"metadata":{"metadataValues":[{"name":"company_id","value":"={{ $('Check Upload Permission').first().json.company_id }}"},{"name":"category_id","value":"={{ $('Check Upload Permission').first().json.selected_category.category_id }}"},{"name":"source_filename","value":"={{ $('Extract Request').first().json.filename }}"},{"name":"source_file_id","value":"={{ $('Upload to Google Drive').first().json.id }}"},{"name":"source_drive_url","value":"=https://drive.google.com/uc?export=download&id={{ $('Upload to Google Drive').first().json.id }}"}]}}}},{"id":"up-embed2","name":"Upload Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1920,320],"parameters":{"model":"text-embedding-ada-002","options":{}}},{"id":"up-save-meta","name":"Save File Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,120],"parameters":{"method":"POST","url":"TRUSTRAG_SUPABASE_URL_HERE/rest/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"company_id","value":"={{ $('Check Upload Permission').first().json.company_id }}"},{"name":"category_id","value":"={{ $('Check Upload Permission').first().json.selected_category.category_id }}"},{"name":"file_name","value":"={{ $('Extract Request').first().json.filename }}"},{"name":"file_path","value":"=TrustRAG/{{ $('Check Upload Permission').first().json.company_id }}/{{ $('Extract Request').first().json.filename }}"},{"name":"drive_file_id","value":"={{ $('Upload to Google Drive').first().json.id }}"},{"name":"drive_url","value":"=https://drive.google.com/uc?export=download&id={{ $('Upload to Google Drive').first().json.id }}"},{"name":"file_size","value":"={{ $('Extract Request').first().json.filesize }}"},{"name":"mime_type","value":"={{ $('Extract Request').first().json.mimetype }}"},{"name":"upload_user_id","value":"={{ $('Check Upload Permission').first().json.user_id }}"}]},"options":{}}},{"id":"up-audit","name":"Write Audit Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,120],"parameters":{"method":"POST","url":"TRUSTRAG_SUPABASE_URL_HERE/rest/v1/rpc/write_audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Check Upload Permission').first().json.user_id }}"},{"name":"p_company_id","value":"={{ $('Check Upload Permission').first().json.company_id }}"},{"name":"p_action","value":"upload"},{"name":"p_category_id","value":"={{ $('Check Upload Permission').first().json.selected_category.category_id }}"},{"name":"p_file_id","value":"={{ $('Save File Metadata').first().json.id }}"},{"name":"p_query_text","value":"={{ $('Extract Request').first().json.filename }}"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"up-return","name":"Return Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2660,120],"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify({ success: true, message: '업로드 완료', filename: $('Extract Request').first().json.filename, drive_file_id: $('Upload to Google Drive').first().json.id, category: $('Check Upload Permission').first().json.selected_category.name }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}}},{"id":"up-auth-err","name":"Return Auth Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,440],"parameters":{"respondWith":"text","responseCode":401,"responseBody":"={{ JSON.stringify({ success: false, message: $('Validate Auth').first().json.error || 'Unauthorized' }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"up-perm-err","name":"Return Permission Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1560,300],"parameters":{"respondWith":"text","responseCode":403,"responseBody":"={{ JSON.stringify({ success: false, message: $('Check Upload Permission').first().json.error || 'Permission denied' }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"Upload Webhook":{"main":[[{"node":"Extract Request","type":"main","index":0}]]},"Extract Request":{"main":[[{"node":"Validate Auth","type":"main","index":0}]]},"Validate Auth":{"main":[[{"node":"Is Authorized?","type":"main","index":0}]]},"Is Authorized?":{"main":[[{"node":"Check Upload Permission","type":"main","index":0}],[{"node":"Return Auth Error","type":"main","index":0}]]},"Check Upload Permission":{"main":[[{"node":"Can Upload?","type":"main","index":0}]]},"Can Upload?":{"main":[[{"node":"Base64 to Binary","type":"main","index":0}],[{"node":"Return Permission Error","type":"main","index":0}]]},"Base64 to Binary":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Upload to Google Drive":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Save File Metadata","type":"main","index":0}]]},"Save File Metadata":{"main":[[{"node":"Write Audit Log","type":"main","index":0}]]},"Write Audit Log":{"main":[[{"node":"Return Response","type":"main","index":0}]]},"Upload Embeddings":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"cd2accf9-a47a-43d4-b611-073c01bc6995","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-02-28T09:27:07.883Z","createdAt":"2026-02-28T09:27:07.883Z","role":"workflow:owner","workflowId":"ZrdgEqchaCSoycyP","projectId":"gYkSZvHl0guLtWX6","project":{"updatedAt":"2026-01-14T06:41:15.180Z","createdAt":"2026-01-14T06:41:10.535Z","id":"gYkSZvHl0guLtWX6","name":"nohjinkwang   <thomasnoh@kakao.com>","type":"personal","icon":null,"description":null,"creatorId":"e1385cb4-ffed-49bb-b7eb-befd0ffea08e"}}],"tags":[],"activeVersion":null}