n8n/TrustRAG_Admin.json
{"updatedAt":"2026-02-28T09:30:02.627Z","createdAt":"2026-02-28T09:30:02.627Z","id":"9c5kGAC7xHGXgvtX","name":"TrustRAG_Admin","description":null,"active":false,"isArchived":false,"nodes":[{"id":"adm-webhook","name":"Admin Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"trustrag/admin","responseMode":"responseNode","options":{"allowedOrigins":"*"}}},{"id":"adm-extract","name":"Extract Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { api_key: (body.api_key||'').trim(), action: body.action||'', data: body.data||{} } }];"}},{"id":"adm-validate","name":"Validate Auth","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"POST","url":"TRUSTRAG_SUPABASE_URL_HERE/rest/v1/rpc/get_user_permissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"p_api_key","value":"={{ $('Extract Request').first().json.api_key }}"}]},"options":{}}},{"id":"adm-is-auth","name":"Is Authorized?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"c1","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"}}},{"id":"adm-check-role","name":"Check Admin Role","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,180],"parameters":{"jsCode":"const auth = $('Validate Auth').first().json;\nconst ADMIN_ROLES = ['super_admin','company_admin'];\nif (!ADMIN_ROLES.includes(auth.role)) {\n  return [{ json: { ...auth, is_admin: false, error: 'Admin role required (super_admin or company_admin)' } }];\n}\nreturn [{ json: { ...auth, is_admin: true } }];"}},{"id":"adm-role-ok","name":"Is Admin?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,180],"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"c2","leftValue":"={{ $json.is_admin }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"}}},{"id":"adm-router","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1560,120],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $('Extract Request').first().json.action }}","rightValue":"create_user","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $('Extract Request').first().json.action }}","rightValue":"create_category","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $('Extract Request').first().json.action }}","rightValue":"grant_permission","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $('Extract Request').first().json.action }}","rightValue":"list_users","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $('Extract Request').first().json.action }}","rightValue":"get_audit_logs","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}}},{"id":"adm-create-user","name":"Create User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,-120],"parameters":{"method":"POST","url":"TRUSTRAG_SUPABASE_URL_HERE/rest/v1/users","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"company_id","value":"={{ $('Extract Request').first().json.data.company_id || $('Check Admin Role').first().json.company_id }}"},{"name":"email","value":"={{ $('Extract Request').first().json.data.email }}"},{"name":"name","value":"={{ $('Extract Request').first().json.data.name }}"},{"name":"role","value":"={{ $('Extract Request').first().json.data.role || 'user' }}"},{"name":"tokens_remaining","value":"={{ $('Extract Request').first().json.data.tokens_remaining || 1000 }}"},{"name":"tokens_total","value":"={{ $('Extract Request').first().json.data.tokens_remaining || 1000 }}"}]},"options":{}}},{"id":"adm-return-create-user","name":"Return Create User","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2020,-120],"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify({ success: true, action: 'create_user', result: $json }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}}},{"id":"adm-create-cat-insert","name":"Insert Category","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,60],"parameters":{"method":"POST","url":"TRUSTRAG_SUPABASE_URL_HERE/rest/v1/categories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"company_id","value":"={{ $('Extract Request').first().json.data.company_id || $('Check Admin Role').first().json.company_id }}"},{"name":"name","value":"={{ $('Extract Request').first().json.data.name }}"},{"name":"description","value":"={{ $('Extract Request').first().json.data.description || '' }}"},{"name":"table_name","value":"={{ $('Extract Request').first().json.data.table_name }}"}]},"options":{}}},{"id":"adm-create-cat-table","name":"Create Category Table","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,60],"parameters":{"method":"POST","url":"TRUSTRAG_SUPABASE_URL_HERE/rest/v1/rpc/create_category_table","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"p_table_name","value":"={{ $('Insert Category').first().json[0].table_name }}"},{"name":"p_company_id","value":"={{ $('Insert Category').first().json[0].company_id }}"},{"name":"p_category_id","value":"={{ $('Insert Category').first().json[0].id }}"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"adm-return-create-cat","name":"Return Create Category","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2240,60],"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify({ success: true, action: 'create_category', result: $('Insert Category').first().json[0] }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}}},{"id":"adm-grant-perm","name":"Grant Permission","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,240],"parameters":{"method":"POST","url":"TRUSTRAG_SUPABASE_URL_HERE/rest/v1/user_category_access","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation,resolution=merge-duplicates"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"user_id","value":"={{ $('Extract Request').first().json.data.user_id }}"},{"name":"category_id","value":"={{ $('Extract Request').first().json.data.category_id }}"},{"name":"can_upload","value":"={{ $('Extract Request').first().json.data.can_upload || false }}"},{"name":"can_download","value":"={{ $('Extract Request').first().json.data.can_download || false }}"}]},"options":{}}},{"id":"adm-return-grant","name":"Return Grant Permission","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2020,240],"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify({ success: true, action: 'grant_permission', result: $json }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}}},{"id":"adm-list-users","name":"List Users","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,420],"parameters":{"method":"GET","url":"=TRUSTRAG_SUPABASE_URL_HERE/rest/v1/users?company_id=eq.{{ $('Extract Request').first().json.data.company_id || $('Check Admin Role').first().json.company_id }}&select=id,email,name,role,tokens_remaining,is_active,created_at&order=created_at.desc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"}]},"options":{}}},{"id":"adm-return-list","name":"Return List Users","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2020,420],"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify({ success: true, action: 'list_users', result: $json }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}}},{"id":"adm-audit-logs","name":"Get Audit Logs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,600],"parameters":{"method":"GET","url":"=TRUSTRAG_SUPABASE_URL_HERE/rest/v1/audit_logs?company_id=eq.{{ $('Extract Request').first().json.data.company_id || $('Check Admin Role').first().json.company_id }}&order=created_at.desc&limit={{ $('Extract Request').first().json.data.limit || 50 }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"TRUSTRAG_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer TRUSTRAG_SERVICE_KEY_HERE"}]},"options":{}}},{"id":"adm-return-audit","name":"Return Audit Logs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2020,600],"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify({ success: true, action: 'get_audit_logs', result: $json }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}}},{"id":"adm-action-err","name":"Return Action Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1800,780],"parameters":{"respondWith":"text","responseCode":400,"responseBody":"={{ JSON.stringify({ success: false, message: 'Unknown action: ' + $(\\'Extract Request\\').first().json.action + '. Allowed: create_user, create_category, grant_permission, list_users, get_audit_logs' }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"adm-auth-err","name":"Return Auth Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,440],"parameters":{"respondWith":"text","responseCode":401,"responseBody":"={{ JSON.stringify({ success: false, message: $('Validate Auth').first().json.error || 'Unauthorized' }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"adm-role-err","name":"Return Role Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1560,360],"parameters":{"respondWith":"text","responseCode":403,"responseBody":"={{ JSON.stringify({ success: false, message: $('Check Admin Role').first().json.error || 'Admin role required' }) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"Admin Webhook":{"main":[[{"node":"Extract Request","type":"main","index":0}]]},"Extract Request":{"main":[[{"node":"Validate Auth","type":"main","index":0}]]},"Validate Auth":{"main":[[{"node":"Is Authorized?","type":"main","index":0}]]},"Is Authorized?":{"main":[[{"node":"Check Admin Role","type":"main","index":0}],[{"node":"Return Auth Error","type":"main","index":0}]]},"Check Admin Role":{"main":[[{"node":"Is Admin?","type":"main","index":0}]]},"Is Admin?":{"main":[[{"node":"Route Action","type":"main","index":0}],[{"node":"Return Role Error","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Create User","type":"main","index":0}],[{"node":"Insert Category","type":"main","index":0}],[{"node":"Grant Permission","type":"main","index":0}],[{"node":"List Users","type":"main","index":0}],[{"node":"Get Audit Logs","type":"main","index":0}],[{"node":"Return Action Error","type":"main","index":0}]]},"Create User":{"main":[[{"node":"Return Create User","type":"main","index":0}]]},"Insert Category":{"main":[[{"node":"Create Category Table","type":"main","index":0}]]},"Create Category Table":{"main":[[{"node":"Return Create Category","type":"main","index":0}]]},"Grant Permission":{"main":[[{"node":"Return Grant Permission","type":"main","index":0}]]},"List Users":{"main":[[{"node":"Return List Users","type":"main","index":0}]]},"Get Audit Logs":{"main":[[{"node":"Return Audit Logs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"c8aa44ea-9580-4d5f-8b97-b9cdcd49ce91","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-02-28T09:30:02.628Z","createdAt":"2026-02-28T09:30:02.628Z","role":"workflow:owner","workflowId":"9c5kGAC7xHGXgvtX","projectId":"gYkSZvHl0guLtWX6","project":{"updatedAt":"2026-01-14T06:41:15.180Z","createdAt":"2026-01-14T06:41:10.535Z","id":"gYkSZvHl0guLtWX6","name":"nohjinkwang   <thomasnoh@kakao.com>","type":"personal","icon":null,"description":null,"creatorId":"e1385cb4-ffed-49bb-b7eb-befd0ffea08e"}}],"tags":[],"activeVersion":null}